.main__container {
  width: 30%;
  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: row;

  padding: 16px 0px;
}

.name {
  width: 168px;
  height: 50px;
  background-color: #fadfdf;
  color: #880202;
  border: 1px solid #880202;
  border-radius: 0.8rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
}

.tool {
  width: 125px;
  height: 35px;
  background-color: #404e53;
  color: #fff;
  border: 1px solid #404e53;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
}

.button_with_x {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: 1px solid red;
  height: 48px;
  width: 48px;
  border-radius: 3rem;
  cursor: pointer;
  position: relative;
}

.button_with_x::after {
  content: "✕";
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button_with_x:hover {
  background-color: darkred;
}
